
*{
    margin: 0%;
    padding: 0%;
}

body{
    /* background-color: #1E0C06; */
    color: #ffffff;
    font-family: sans-serif;

      
}
.main{
    /* background-color: #ffffff; */
    background-color: #222021;
    background-image: url(./assets/background3.svg);
}
.main button:hover{
    background-color: #8bbbff;
    box-shadow: 2px 2px 10px #fdbb81;
    transition: 1s;
    transform: scale(1.1);
}
.headerHeroSection{
    height: 100vh;
    background-image: url(./assets/heroleftbackground.png);
    background-repeat: no-repeat;

}
/* header Seciton */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: start;
    padding: 30px 0px;

    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}
.logo img{
    width: 150px;
}
.navItems{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.navItems ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}
.navItems ul li a{
    text-decoration: none;
    color: #ffffff;
}
.navItems ul li a:hover{
    color: #fdbb81;
    transition: 0.5s; 
}
.headericon{
    display: none;
    height: 30px;
    
}
.headeritem{
    text-align: center;
    line-height: 40px;
}
.headeritem  ul li a{
    text-decoration: none;
    color: #ffffff;
    margin-top: 30px;
    font-weight: 700;
}



/* hero section */

/* Hero Section */
.herosectionset{
    display: flex;
    justify-content: end;
    height: 90vh;
}
.heroSection{
    height: 80vh;
    width: 70%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #1E0C06;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px #ffffff;
}
.heroSectionText{

    width: 45%;
    height: 90%;
    padding: 0px 50px;
    position: relative;
}
.heroSection::after {
  content: '';
  position: absolute;
  top: 55%;
  right: 19%;
  width: 25%;      
  height: 2px;      
  background-color: #ffffff;
  transform: rotate(90deg);
  margin-top: 8px;  
}

.heroSectionText h1{
    font-size: 5.8vw;
    font-weight: 500;
}
.heroSectionText p {
    font-size: 25px;
    width: 300px;
    color: #fdbb81;
}
.heroSectionText button{
    padding: 15px 60px;
    background-color: #7B91AF;
    border-width: 0px;
    border-radius: 8px ;
    margin-top: 30px;
    color: white;
    font-size: 22px;

}
.heroSectionImages{
    width: 40%;
    height: 90%;

}
.heroSectionImages img{

    width: 40%;
}
.heroSectionImages img:hover{
 
    transform: translateY(-10px);
    transition: all 1s;
}
.heroimg1 img{
 
    position: relative;
    left: 50%;
    
}
.heroimg3 img{
    width: 12%;
    position:absolute;
    right: 3%;
    bottom: 10%;
}

.heroSection:hover{
    box-shadow: 2px 2px 10px #fdbb81;
    transition: 2s;
}








/* Wood we use Section */
.WoodUse{
    height: 80vh;
    padding: 70px 0px;
    margin-top: 100px;
}
.WoodUse h2{
    font-size: 50px;
    width: 40%;
    font-weight: 600;
    position:relative;
    left: 20%;
    margin-bottom: 50px;
}
.woodUseCards{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.woodUseCrd{
    width: 20%;

    
}
.woodUseCrd:hover{
  
    transition: 1s;
    transform: translateX(20px);
}
.woodusecardimg{
    display: flex;

   
}
.woodusecardimg img{
    height: 100px;
    width: 120px;
    border-radius:8px ;
}
.woodUseCrd h4{
    width: 120px;
    text-align: center;
    font-size: 20px;
    margin:20px 0px ;
}
.wooduselist ul{
    list-style: none;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400px;
}
.wooduselist ul i{
    color: #FFC099;
}




/* slider section */
.sliderSection{

    height: 90vh;
    margin-bottom: 100px;
    margin-top: 100px;

}
.sliderSection h2{
    /* margin-top: 150px; */

    font-size: 60px;
    font-weight: 500;
    margin-left: 20%;
    margin-bottom: 30px;
}
.slider{
    width: 90%;
    height: 80%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.sliderimg {
    width: 85%;
    height: 100%;

}
.sliderimg img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.slider i{
    font-size: 50px;    
}




/* Advantages Section */


.Advantantages{
    margin-top: 200px;
    height: fit-content;

}
.Advantantages h2{
    font-size: 60px;
    width: 50%;
    margin-left: 20%;
    margin-top: 40px;
}
.advantagesDescription{
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;


}

.advantagesimg img{
    border-radius: 16px;
}
.advantagesimg img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px #fdbb81;
    transition: 2s;
}
.advantagesText{

    height: 100%;
    
}
.advantagesText p{
    font-size: 22px;
    font-weight: 700;
    width: 300px;
    margin-bottom: 30px;
}
.Advantantages button{
    height: 50px;
    width: 250px;
    background-color: #7B91AF;
    text-align: center;
    border-radius: 16px;
    border-width: 0px;
    font-size: 18px;
    color: #ffffff;
}
.Advantagesbutton{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}





/* About us */
.aboutUsSet{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 100px;
}
.aboutUs{
    height: 60vh;
    width: 80%;
    background-color: #1E0C06;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 50PX;
    gap: 100px;
    box-shadow: 2px 2px 10px 10px #ebebeb7c;
}
.aboutUsText{
    width: 40%;
  
   line-height: 35px;
}
.aboutUsText h2{
    font-size: 60px;
    margin-bottom: 50px;
}
.aboutUsText p{
    font-size: 22px;

}
.aboutusimg{
    width: 40%;
}
.aboutusimg img{
 
    width: 120px;
    height: 120px;
    border-radius: 8px;

}

.aboutusimg1 img{
    position: relative;
    left: 65%;
    bottom: 30px;

}
.aboutusimg2 img{
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 80px;
    left: 30%;
    border: 10px solid #1E0C06;
    border-radius: 16px;
}
.aboutusimg3{
    width: fit-content;
    position: relative;
    bottom: 80px;
    left: 70%;
 
}
.aboutusimg img:hover{
    transform: scale(1.1);
    transition: 2s;
}
.aboutUs:hover{
    box-shadow: 2px 2px 10px #fdbb81;
    transition: 2s;
}




/* form Section */
.formSection{
    height: 80vh;
 
    width: 80%;
    padding: 50px;
    margin: auto;
    background-image: url(./assets/formimg.png);
    background-repeat: no-repeat;
    background-position-x: 130%;
    background-position-y:170%;
     
    margin-top: 100px;
}
.formSection:hover{
    background-position-y: 150%;
    transition: 3s;
}
.formSection h2{
    text-align: right;
    font-size: 60px;
    letter-spacing:10px;
    position: absolute;
    right: 10%;
}
.formsec{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form{
    height: fit-content;
    width: 50%;
    
}
.formSection p{
   
    width: 35%;
    font-size: 22px;
    line-height: 30px;
    position: relative;
    left: 68%;
    top: 25%;
}
.form input{
    height: 50px;
    width: 80%;
    color: #ffffff;
    border: 2px solid #728BAD;
    border-radius: 24px;
    padding: 0px 20px;
    outline: none;
    margin-bottom: 15px;
    background-color: #222021;
}
.form input:hover{
    box-shadow: 2px 2px 10px #8bbbff;
    transition: 1s;
}
.form textarea{
    height: 150px;
    width: 80%;
    color: #D9D9D982;
    border: 2px solid #728BAD;
    border-radius: 24px;
    padding: 10px 20px;
    outline: none;
    margin-bottom: 15px;
    background-color: #222021;

}
.form textarea:hover{
    box-shadow: 2px 2px 10px #8bbbff;
    transition: 1s;
}
.form button{
    height: 40px;
    width: 150px;
    border-radius: 16px;
    border-width: 0px;
    background-color:#7B91AF ;
    color: white;
    font-size: 20px;
}

/* footer Section */

.footerSection{
    height: 30vh;
    padding: 50px 100px;
    box-shadow: 5px 0px 10px 10px #afaeae52;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer P{
    font-size: 22px;
    width: 20%;
}
.footer p i{
    font-size: 30px;
    margin-right: 10px;
}
.contactusp{
    display: flex;
    align-items: center;
    gap: 20px;

}
.contactusp p{
    width: 200px;
}
.contactusp i {
    font-size: 30px;
}
.footerprivacy{
    margin-top: 50px;
}
.footerp{
    text-align: center;
    margin-top: 30px;
}

/* Responsive */


@media (min-width:300px) and (max-width:800px){
    .main{
        background-color: #222021;
    }   
    .headerHeroSection{
        height: 70vh;

    }
    .header{
        background-color: #1e0c06;
        justify-content: space-between;
        padding: 20px 30px;
    }
    .headericon{
        display: flex;
    }
    .headericon:checked{
        transition: 2s;
    }
    .logo img{
        height: 50px;
        width: 60px;
    }
    .navItems{
        display: none;
    
    }
    .navItems ul{
        display: block;
        margin-top: 30px;
        text-align: center;
    }
    .navItems ul li{
        margin-top: 30px;
    }

    /* hero section */
    .heroSection{
        height: 40vh;
        width: 90%;
        margin-top: 50px;
    }
    .heroSectionText{
        /* background-color: yellow; */
        padding: 10px ;
    }
    .heroSectionText h1{
        width:300px;
        font-size: 2.5em;
        /* background-color: #7B91AF; */
    }
    .heroSection p{
        font-size: 1.5em;
      
        width: 250px;
    }
    .heroSectionText button{
        height: 40px;
        width: 100px;
        font-size: 18px;
        text-align: center;
        padding: 0%;
    }
    .heroSection::after{
        /* background-color: #ffffff;
        transform: rotate(180deg);
        width: 80%;
        top: 45%;
        left: 15%; */
        display: none;
    }
    .heroimg1 img{
        height: 100px;
        width: 100px;
        position: relative;
        top: 350px;
        left: 0px;
        
    }
    .heroimg2 img{
        height: 100px;
        width: 100px;
        position: relative;
        top: 35px;
        right: -10px;
        
    }
    .heroimg3 img{
        height: 100px;
        width: 100px;
        position: relative;
        top: 70px;
        right: 180px;
        } 

    /* wood we use */
    .WoodUse{
        margin-top: 50px;
        height: 50vh;
    }
    .WoodUse h2{
        width: 90%;
        font-size: 2em;
        position: relative;
        left: 0%;
        padding-left: 20px;
    }
    .woodUseCards{
        justify-content: space-evenly;
    }
    .woodUseCrd{
        width: fit-content;
    }
    .woodUseCrd:hover{
        transform: none;
    }
    .woodusecardimg{
        justify-content: center;
    }
    .woodUseCrd img{
        height: 70px;
        width: 70px;
    }
    .woodUseCrd h4{
        font-size: 18px;
        width: 100%;
    }
    .wooduselist ul{
        font-size: 16px;
        text-align: center;
    }
    .wooduselist ul li i{
        font-size: 18px;
    }



    /* Slider Seciton */
    .sliderSection{
        height: 40vh;
    }
    .sliderSection h2{
        font-size: 2.5em;
       margin-left: 0%;
    }
    .slider{
        height: 30vh;
        gap: 5px;
    }
    .slider i {
        font-size: 18px;
    }
    .sliderimg{
        width: 89%;
    }
   

    /* Advantages Section */

    .Advantantages{
        height: 80vh;
    }
    .Advantantages h2{
        font-size: 2.1rem;
        font-weight: 400;
        margin-left: 0%;
        width: 100%;
        line-height: 45px;
        margin-bottom: 50px;
    }
    .advantagesDescription{
        flex-wrap: wrap-reverse;
        margin: 0%;
        width: 100%;
    }
    .advantagesText {
        height: 40vh;
        height: fit-content;
        justify-content: start;
        margin-left: -25px;
        margin-bottom: 30px;
    }
    .advantagesText p{
          font-size: 16px;
        font-weight: 600;  
    }
    .advantagesimg{
        width: 100%;
    }
    .advantagesimg img{
        width: 100%;
    }
    .advantagesimg img:hover{
        transform: none;
    }
    .Advantagesbutton button{
        margin-top: 30px;
        font-size: 16px;
    }





    /* about us Seciton */
    
    .aboutUs{
        display: block;
        padding: 20px;
        height: fit-content;
    }
    .aboutUsText{
     width: 90%;   
    }
    .aboutUs h2{
        font-size: 2.5em;
    }
    .aboutUs p{
        font-size: 16px;
        line-height: 25px;
    }
    .aboutusimg{
        margin-top: 30px;
    }
    .aboutusimg1 img{
        height: 100px;
        width: 100px;
        position: relative;
        left: 150px;
        top: 20px;
    }
    .aboutusimg2 img{
        height: 150px;
        width: 150px;
        position: relative;
        top: -50px;
        left: 3px;
    }
    .aboutusimg3 img{
        height: 100px;
        width: 100px;
        position: relative;
        top: 50px;
        left: 50px;
    }




    /* form Section */

    .formSection{
        padding: 20px;
        background-image: none;
    }
    .formSection:hover{
        background-position-y: 0%;
    }
    .formSection h2{
        text-align: left;
        font-size: 1.9rem;
        font-weight: 500;
        position: relative;
        right: 0;
    }
    .formSection p{
        font-size: 16px;
        width: 80%;
        top: 10px;
        left: 0px;
        margin: 40px 0px;
    }
    .form{
        width: 90%;
    }
    .form input{
        width: 90%;
    }   
    .form textarea{
        width: 90%;
    }
    .form button{
        font-size: 16px;
        font-weight: bold;
        width: 100px;
    }


    /* footer Section */
    .footerSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer{
        flex-direction: column;
        width: 350px;
        padding: 0%;
    }
    .foooter img{
        margin-bottom: 50px;
    }
    .footer p{
        margin-top: 30px;
    }
    .footerprivacy{
        text-align: center;
    }
    .contactusp i{
        text-align: center;
        align-items: center;
    }
}
